<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="cn.edu.ntu.spring.integration.activemq"/>
    <context:property-placeholder location="classpath:application.properties"/>

    <!-- config producer -->
    <bean id="jmsFactory" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
        <property name="connectionFactory">
            <bean class="org.apache.activemq.ActiveMQConnectionFactory">
                <property name="brokerURL" value="${activemq.url}"/>
            </bean>
        </property>
        <property name="useAnonymousProducers" value="true"/>
        <property name="reconnectOnException" value="true"/>
        <property name="maxConnections" value="100"/>
    </bean>

    <!-- config queue -->
    <bean id="destinationQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg index="0" value="p2p_queue"/>
    </bean>
    <!-- config topic -->
    <bean id="destinationTopic" class="org.apache.activemq.command.ActiveMQTopic">
        <constructor-arg index="0" value="sub_topic"/>
    </bean>

    <!--&lt;!&ndash; config listener: do not need start consumer &ndash;&gt;-->
    <!--<bean id="jmsContainer" class="org.springframework.jms.listener.DefaultMessageListenerContainer">-->
    <!--<property name="connectionFactory" ref="jmsFactory"/>-->
    <!--<property name="destination" ref="destinationTopic"/>-->
    <!--<property name="messageListener" ref="myMessageListener"/>-->
    <!--</bean>-->

    <!-- config JMS tool -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="jmsFactory"/>
        <property name="defaultDestination" ref="destinationTopic"/>
        <!-- open sub mode -->
        <!--<property name="pubSubDomain" value="true"/>-->
        <property name="receiveTimeout" value="10000"/>
        <!-- deliveryMode, priority, timeToLive 的开关要生效，必须配置为true，默认false-->
        <property name="explicitQosEnabled" value="true"/>
        <property name="deliveryMode" value="2"/>

        <property name="messageConverter">
            <bean class="org.springframework.jms.support.converter.SimpleMessageConverter"/>
        </property>
    </bean>
</beans>